version: 2
jobs:
  build:
    docker:
      - image: circleci/elixir:1.5
      - image: circleci/postgres:9.6
    working_directory: ~/repo
    steps:
      - checkout
      - run: mix do local.hex --force, local.rebar --force
      - run: MIX_ENV=test mix do deps.get, deps.compile, compile
      - run: MIX_ENV=test mix do ecto.create, ecto.migrate
      - run: mix test
